* {
  margin: 0;
  padding: 0; }

html, body, #wrap {
  height: 100%; }

body > #wrap {
  height: auto;
  min-height: 100%; }

body {
  font-family: Verdana;
  font-size: 10pt;
  background: #123; }

#header {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
  background: #fff;
  margin: 0 auto;
  padding: 10px 5px; }
  * html #header {
    overflow-x: hidden; }
  #header h1, #header ul {
    margin: 0; }
  #header #menu {
    margin-top: 5px; }
    #header #menu ul li {
      list-style: none;
      display: inline;
      margin-right: 1em; }

#wrap {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
  padding-top: 1em; }
  #wrap {
    display: block; }

#content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
  background: #ddd;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 100px; }
  * html #content {
    overflow-x: hidden; }
  #content #col_1 {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 230px;
    background: #ffa;
    padding-top: 20px;
    padding-bottom: 20px; }
    * html #content #col_1 {
      overflow-x: hidden; }
    #content #col_1 h4, #content #col_1 p {
      padding-left: 20px;
      padding-right: 20px; }
  #content #col_2 {
    display: inline;
    float: left;
    margin-right: 0;
    width: 710px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #2fa; }
    * html #content #col_2 {
      overflow-x: hidden; }
    #content #col_2 h3, #content #col_2 p {
      padding-left: 20px;
      padding-right: 20px; }

#footer {
  width: 100%;
  text-align: center;
  background: #AFC9FC;
  position: relative;
  padding-top: 30px;
  margin-top: -100px;
  height: 100px;
  clear: both; }
